
{% extends "common.html" %}

{% block content %}


<section class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <img src="https://via.placeholder.com/300" class="img-fluid rounded" alt="Store Owner">
    </div>
    <div class="col-md-6">
      <h2>La fruta de Riesco</h2>
      <p>En fruterias Riesco, nos tomamos en serio la fruta.</p>
      <p>Nuestro control de calidad asegura que cada una de las frutas que entregamos sea perfecta.</p>
      <p class="font-italic">"Me apasiona la fruta."</p>
      <p>- Señor Riesco</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Equipo de desarrollo</h2>
      <p>Para fruterias Riesco, el equipo de desarrollo es como parte de la familia.</p>
      <p>Compuesto por Cristian Molina, Álvaro Álvarez y Álvaro Corrochano, han realizado un trabajo excelente.</p>
      <p class="font-italic">"Pensamos que la mejor opción era utilizar Flask para el back-end y SQLite para la base de datos."</p>
      <p>- Equipo de desarrollo</p>
    </div>
    <div class="col-md-6 ">
      <img src="https://via.placeholder.com/300" class="img-fluid rounded" alt="Store Owner">
    </div>
  </div>
</section>



{% endblock content %}