
{% extends "common.html" %}

{% block content %}

<section class="container my-5">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Pedido realizado satisfactoriamente!</h4>
      <p>Gracias pro comprar en frutería Riesco. Los datos de tu pedido se han guardado y serán revisados manualmente por el señor Riesco. Recibirá 
        información sobre su pedido proximamente.</p>
      <hr>
      <p class="mb-0">Si tiene alguna duda, no dude en contactar con el señor Riesco.</p>
    </div>
  </section>

{% endblock content %}